body
{
    background-color: white;
}








#menubar-title {
    font-family: 'Abel',sans-serif;
    font-size: 35px;
    color: white;
    float: right;
    min-width: 165px;
    z-index: 1000;
    opacity: 1;
}

#menubar-titlePlace
{
    width: 20%;
    float: left;
}

.sticky-nav
{
    position: sticky;
    top: 0;
}

#nav 
{
    z-index: 9999;
}

#menubar-Button
{
    width: 80%;
    float: left;
}











#cardtop-container
{
    height: 880px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #424242;

}








#cardPreviewAbout-container
{
    height: 50px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1565c0;

}

#cardAbout-container
{
    height: 100px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1565c0;

}
#cardAboutText-container
{
    height: 500px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1565c0;

}

#textAboutme-container
{
    
    font-size: 50px;
    text-align: center;
    color: white;
}

#textAboutmeText-container
{
    
    font-size: 20px;
    text-align: center;
    color: white;
}










#cardProfessionnalPreviewTitleProject-container
{
    height: 60px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1565c0;

}

#cardProfessionnalTitleProject-container
{
    height: 140px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2b2b2b;

}
#cardProfessionnalProject-container
{
    height: 900px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #424242;

}

#textPro-container
{
    
    font-size: 50px;
    text-align: center;
    color: white;
}
#textProExplication-container
{
    
    font-size: 20px;
    text-align: center;
    color: white;
}









#cardPersonnalPreviewTitleProject-container
{
    height: 60px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #424242;

}

#cardPersonnalTitleProject-container
{
    height: 140px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2b2b2b;

}
#cardPersonnalProject-container
{
    height: 900px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #424242;

}
#textPerso-container
{
    
    font-size: 50px;
    text-align: center;
    color: white;
}
#textPersoExplication-container
{
    
    font-size: 20px;
    text-align: center;
    color: white;
}










#cardContact-container
{
    height: 250px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2b2b2b;

}
#cardBottom-container
{
    height: 70px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2b2b2b;

}
#textContact-container
{
    
    font-size: 50px;
    text-align: center;
    color: white;
}
#textContactExplication-container
{
    
    font-size: 20px;
    text-align: center;
    color: white;
}
