body {
    background-color: #bdbdbd;
}

#menubar-container
{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    z-index: 80;
    min-width: 292px;
}

#menubar-title {
    font-family: 'Abel',sans-serif;
    font-size: 35px;
    color: white;
    float: right;
    min-width: 165px;
    
}

#menubar-bg {
    background-color: #000000;
    opacity: .5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    box-shadow: 0 0 38px 1px rgb(0 0 0 / 75%);
}



.noselect {
    user-select: none;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#menubar-items-container {
    font-size: 0;
    min-width: 645px;
}

#menubar-titlePlace
{
    width: 20%;
    float: left;
}

#cardtop-container
{
    width: 100%;
    top: 0;
    left: 0;
    height: 720px;
    z-index: 80;
    min-width: 292px;
    background-color: #696969;
}